html
  body
    form(action="/pay", method="post")
      label(for='my_amount') Montant :
      input#my_amount(type='text', placeholder='500.00', name='my_amount')
      button(type='submit') Valider
